body {
  margin: 0;
  color: white;
  background: linear-gradient(#52006A, #CD113B);
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  padding: 60px 60px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  color: springgreen;
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
  text-decoration: none;
}

.login__container--register a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.login__container--register a:hover {
  color: springgreen;
  text-decoration: underline;
}

.input {
  background-color: transparent;
  color: white;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  border-left: 0;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0 20px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 40px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 800px;
  padding: 20px 0;
}

.error h2 {
  color: white;
  margin-top: 56px;
  font-size: 2em;
}

.error__img {
  width: 250px;
  margin-top: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.error__animated--pulse {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-duration: 1s;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}

.footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
  color: springgreen;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .error {
    padding: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=styles_login.css.map */
